.footer {
    background-color: $color-bg-footer;
    color: $color-footer-text;
    padding: 1.5rem;
    &__heading {
        margin-bottom: 1.5rem;
    }
    &__links {
        list-style: none;
        & li {
            margin-bottom: 0.5rem;
        }
    }
    &__icons {
        margin-right: 0.75rem;
        font-size: 0.85rem;
        width: 0.75rem;
    }
}