.header {
    text-align: center;
    position: relative;
    @include box-headershadow;
    &__logo {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
    &__backlink {
        position: absolute;
        top: 1.75rem;
        left: 1.25rem;
        font-size: 1.25rem;    
    }
}