.btn {
    padding: 0.875rem 1.25rem;
    margin-bottom: 3.25rem;
    color: #FFFFFF;
    border-radius: 1.375rem;
    @include box-shadow;
    @include btn-bg;
    &:hover {
        opacity: 0.8;
        @include box-highshadow
    }
    &--cards {
        margin-top: 1rem;
        margin-bottom: 5rem;
        align-self: center;
    }
}

.like {
    font-size: 1.375rem;
    display: flex;
    align-items: center;
    border: 0;
    background-color: $color-bg-menu;
    &--cards {
        margin-right: 1.5rem;
        background-color: $color-bg-cards;
    }
    & i::before {
        position: absolute;
        opacity: 1;
    }
    & i::after {
        font-weight: 900;
        content: "\f004";
        background: $color-btn-like;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity ease-in 600ms;
    }
    &:hover {
        & i::before {
            opacity: 0;
        }
        & i::after {
            opacity: 1;            
        }
    }
}

.btn-check {
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.75rem;
    &__icons {
        color: #FFFFFF;
        font-size: 1.25rem;
    }
}