.btn {
    padding: 0.875rem 1.25rem;
    margin-bottom: 3.25rem;
    color: #FFFFFF;
    border-radius: 1.375rem;
    @include box-shadow;
    @include btn-bg;
    &:hover {
        opacity: 0.8;
    }
    &--cards {
        margin-top: 1rem;
        margin-bottom: 5rem;
        align-self: center;
    }
}

.like {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    &--cards {
        margin-right: 1.5rem;
    }
}
.btn-check {
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.75rem;
    &__icons {
        color: #FFFFFF;
        font-size: 1.25rem;
    }
}