.localisation {
    background-color: $color-bg-localisation;
    text-align: center;
    &__city {
        font-weight: bold;
        padding: 1rem 0;
        &__icon {
            font-size: 1rem;
            padding-right: 1rem;
        }
    } 
}

.booking {
    background-color: $color-bg-booking;
    padding: 2.5rem 1.25rem 4.5rem;
    text-align: center;
    &__heading {
        margin-bottom: 1rem;
    }
    &__desc {
        font-size: 1.1rem;
        margin-bottom: 3rem;
    }
}

.tutorial {
    padding: 3rem 1.25rem;
    &__heading {
        margin-bottom: 2rem;
    }
    &__steps {
        list-style-type: none;
        & li {
            background-color: $color-tutorial-list;
            margin-bottom: 1.25rem;
            font-size: 0.9rem;
            padding: 1.25rem;
            margin-left: 0.75rem;
            border-radius: 0.9rem;
        }
        &__count {
                color: white;
                text-align: center;
                background-color: $color-primary;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                margin-left: -2rem;
        }
        &__icons {
                margin: 0 1.25rem;
                color: $color-tutorial-icons;
                max-width: 1rem;
        }
    }
}

.gallery {
    background-color: $color-bg-restaurants;
    padding: 3rem 1.25rem;
    &__heading {
        margin-bottom: 1.25rem;
    }
}