/* Animation Menu Items */

@keyframes menuItems {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.anim-menuItems {
    animation: menuItems $animMenu-duration ease-out both;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: $animMenu-delay * $i;
        }
    }
}

/* Loader Homepage */

@keyframes loader {
    0%, 99% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(9999px);
    }
}

@keyframes progress-bar {
    0% {
        transform: scaleX(1);
        animation-timing-function: cubic-bezier(.88,0,.47,1);
    }
    20% {
        transform: scaleX(0.85);
    }
    50% {
        transform: scaleX(0.6);
        animation-timing-function: cubic-bezier(.88,0,1,.57);
    }
    80% {
        transform: scaleX(0.1);
        animation-timing-function: cubic-bezier(0,.47,.47,1);
    }
    100% {
        transform: scaleX(0);
        animation-timing-function: cubic-bezier(0,.71,0,1);
    }
}

.loader {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    animation: loader $animloader-duration forwards;

    .progress {
        max-width: 36rem;
        width: 80%;
        height: 2rem;
        margin: 1rem;
        border: 2px solid;
        border-radius: 0.6rem;
        @include box-shadow;
        overflow: hidden;
        background: $color-progressbar;
        &__bar {
            height: 2rem;
            background-color: $color-bg-progressbar;
            transform-origin: right;
            animation: progress-bar $animprogbar-duration $animprogbar-delay forwards;
        }
    }
}