/* Animation Menu Items */

@keyframes menuItems {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

    .anim-menuItems {
        animation: menuItems $animMenu-duration ease-out both;
        @for $i from 1 through 10 {
            &--#{$i} {
                animation-delay: $animMenu-delay * $i;
            }
        }
    }

/* Loader Homepage */

@keyframes loader {
    0%, 99% {
        transform: translateX(0px);
        opacity: 0.8;
    }
    100% {
        transform: translateX(9999px);
    }
}

@keyframes loader-spinner {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(.76,.07,.28,1.04);
    }
    100% {
        transform: rotate(1440deg);
    }
}

.loader {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    animation: loader $animloader-duration forwards;

    .progress {
        @include spinner(4rem, 1rem, $color-primary, $color-secondary, $color-tertiary, transparent);
        animation: loader-spinner $animprogbar-duration $animprogbar-delay both;
    }
}