@mixin btn-bg {
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);    
}

@mixin box-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

@mixin box-highshadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
}

@mixin text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin spinner($size, $border-size, $clr-top, $clr-right, $clr-bottom, $color-left) {
    height: $size;
    width: $size;
    border-radius: 50%;
    border-top: $border-size solid $clr-top;
    border-right: $border-size solid $clr-right;
    border-bottom: $border-size solid $clr-bottom;
    border-left: $border-size solid $color-left;
}
