@mixin btn-bg {
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);    
}

@mixin box-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

@mixin text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}