$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-localisation: #eaeaea;
$color-bg-booking: #f6f6f6;
$color-bg-tutorial: #ffffff;
$color-bg-restaurants: #f6f6f6;
$color-bg-menu: #f6f6f6;
$color-bg-menu-list: #FFFFFF;
$color-bg-footer: #353535;

$color-tutorial-list: #f6f6f6;
$color-tutorial-icons: #7e7e7e;

$color-footer-text: #ffffff;